@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Raleway:wght@600&display=swap');

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.titleMobile {
  font-family: 'Montserrat', sans-serif;
  display: none;
}

.navLink {
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 700px) {
  .title {
    display: none;
  }

  .titleMobile {
    display: block;
  }
}
